
.Headers{
    background-color: purple!important;
    max-height: 100%;
}
.HeaderDash{
    .MuiToolbar-gutters{
        padding: 0 !important;
    }
}
.HeaderImg{
    margin-left: 10px;
    width: 15% !important;
    height: 100%!important;
    display: inline-block;
}
.HeaderContainerImage{
    text-align: center;
}
.HeaderMenu{
    font-size: large !important;
    color: white !important;
    max-width: 100%!important;
    max-height: 100%!important;
    display: inline-block;
}
.MenuIcon{
    text-align: center !important;
}
.DropdownContainer{
    width: 25%;
}
@media only screen and (max-width: 2560px) {
    .DropdownContainer{
        margin-left: 70%;
    }
}
@media only screen and (max-width: 1900px) {
    .DropdownContainer{
        margin-left: 70%;
    }
}
@media only screen and (max-width: 1650px) {
    .DropdownContainer{
        margin-left: 60%;
    }
}
@media only screen and (max-width: 1200px) {
    .DropdownContainer{
        margin-left: 60%;
    }
}
@media only screen and (max-width: 1024px) {
    .DropdownContainer{
        margin-left: 60%;
    }
}
@media only screen and (max-width: 900px) {
    .DropdownContainer{
        margin-left: 21%;
    }
    .HeaderImg{
        margin-left: 27%;
    }
    .HeaderImg{
        width: 40% !important;
        height: 100%!important;
        display: inline-block;
    }
    .HeaderMenu {
        margin-left: 10px !important;
    }
}
@media only screen and (max-width: 480px) {

    .DropdownContainer{
        margin-left: 5%;
    }
    .HeaderImg{
        margin-left: 8%;
    }
    .HeaderImg{
        width: 55% !important;
        height: 100%!important;
        display: inline-block;
    }
}
@media only screen and (max-width: 375px) {
    .DropdownContainer{
        margin-left: 0;
    }
    .HeaderImg{
        margin-left: 0;
    }
    .HeaderImg{
        width: 60% !important;
        height: 100%!important;
        display: inline-block;
    }
}
@media only screen and (max-width: 320px) {
    .HeaderImg{
        max-width: 70%!important;
        max-height: 100%!important;
    }
}
