.LoginImage{
    width: 100%;
}
.Login{
    text-align: center;
    margin: 10%;
    padding-left: 40px!important;
    padding-right: 40px!important;
}
.link{
    line-height: 1.5em !important;
    letter-spacing: 4px;
}
.link:hover{
    text-decoration: none !important;
}