@font-face {
  font-family: 'community';
  src: url('../font/community.eot?42610188');
  src: url('../font/community.eot?42610188#iefix') format('embedded-opentype'),
       url('../font/community.woff2?42610188') format('woff2'),
       url('../font/community.woff?42610188') format('woff'),
       url('../font/community.ttf?42610188') format('truetype'),
       url('../font/community.svg?42610188#community') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'community';
    src: url('../font/community.svg?42610188#community') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "community";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-pagos:before { content: '\e800'; } /* '' */
.icon-vencido:before { content: '\e801'; } /* '' */
.icon-administracion:before { content: '\e802'; } /* '' */
.icon-seguridad:before { content: '\e803'; } /* '' */
.icon-recibos:before { content: '\e804'; } /* '' */
.icon-estado-de-cuenta:before { content: '\e805'; } /* '' */
.icon-contador:before { content: '\e806'; } /* '' */
.icon-saldos:before { content: '\e807'; } /* '' */
.icon-reportes:before { content: '\e808'; } /* '' */
.icon-compartir:before { content: '\e809'; } /* '' */
.icon-catalogo:before { content: '\e80a'; } /* '' */
.icon-descargar:before { content: '\e80b'; } /* '' */
.icon-configuracion-1:before { content: '\e80c'; } /* '' */
.icon-advertencia:before { content: '\e80d'; } /* '' */
.icon-ordenar:before { content: '\e80e'; } /* '' */
.icon-rapidas:before { content: '\e80f'; } /* '' */
.icon-pagado-1:before { content: '\e810'; } /* '' */
.icon-propiedades:before { content: '\e811'; } /* '' */
.icon-reservaciones:before { content: '\e812'; } /* '' */
.icon-imprimir:before { content: '\e813'; } /* '' */
.icon-configuracion:before { content: '\e814'; } /* '' */
.icon-ingreso:before { content: '\e815'; } /* '' */
.icon-egreso:before { content: '\e816'; } /* '' */
.icon-recibo:before { content: '\e817'; } /* '' */
.icon-areas-comunes:before { content: '\e818'; } /* '' */
.icon-queja:before { content: '\e819'; } /* '' */
.icon-eliminar:before { content: '\e81a'; } /* '' */
.icon-agregar:before { content: '\e81b'; } /* '' */
.icon-residente-1:before { content: '\e81c'; } /* '' */
.icon-mensaje:before { content: '\e81d'; } /* '' */
.icon-salon:before { content: '\e81e'; } /* '' */
.icon-aforo:before { content: '\e81f'; } /* '' */
.icon-pdf:before { content: '\e820'; } /* '' */
.icon-imagen:before { content: '\e821'; } /* '' */
.icon-agregar-proveedores:before { content: '\e822'; } /* '' */
.icon-agregar_evento:before { content: '\e823'; } /* '' */
.icon-agregar-vehiculo:before { content: '\e824'; } /* '' */
.icon-agregar-estacionamiento:before { content: '\e825'; } /* '' */
.icon-mantenimiento:before { content: '\e826'; } /* '' */
.icon-vecinos:before { content: '\e827'; } /* '' */
.icon-cerrar:before { content: '\e828'; } /* '' */
.icon-jardineria:before { content: '\e829'; } /* '' */
.icon-albanil:before { content: '\e82a'; } /* '' */
.icon-intendencia:before { content: '\e82b'; } /* '' */
.icon-recoleccion:before { content: '\e82c'; } /* '' */
.icon-pintura:before { content: '\e82d'; } /* '' */
.icon-electrico:before { content: '\e82e'; } /* '' */
.icon-otro:before { content: '\e82f'; } /* '' */
.icon-vehiculo:before { content: '\e830'; } /* '' */
.icon-anuncios:before { content: '\e831'; } /* '' */
.icon-guardar:before { content: '\e832'; } /* '' */
.icon-indicadores:before { content: '\e833'; } /* '' */
.icon-finalizado:before { content: '\e834'; } /* '' */
.icon-facturacion:before { content: '\e835'; } /* '' */
.icon-reglamento-condensado:before { content: '\e836'; } /* '' */
.icon-reglamento-completo:before { content: '\e837'; } /* '' */
.icon-servicios:before { content: '\e838'; } /* '' */
.icon-proveedores:before { content: '\e839'; } /* '' */
.icon-180-dias:before { content: '\e83a'; } /* '' */
.icon-foto-factura:before { content: '\e83b'; } /* '' */
.icon-miniatura:before { content: '\e83c'; } /* '' */
.icon-estacionamiento:before { content: '\e83d'; } /* '' */
.icon-no-asignado:before { content: '\e83e'; } /* '' */
.icon-asignado:before { content: '\e83f'; } /* '' */
.icon-auto:before { content: '\e840'; } /* '' */
.icon-ubicacion:before { content: '\e841'; } /* '' */
.icon-secciones-1:before { content: '\e842'; } /* '' */
.icon-notas:before { content: '\e843'; } /* '' */
.icon-tag:before { content: '\e844'; } /* '' */
.icon-olvide-password:before { content: '\e845'; } /* '' */
.icon-codigo:before { content: '\e846'; } /* '' */
.icon-pago-efectivo:before { content: '\e847'; } /* '' */
.icon-pagado-2:before { content: '\e848'; } /* '' */
.icon-vencidos:before { content: '\e849'; } /* '' */
.icon-pago:before { content: '\e84a'; } /* '' */
.icon-inicio:before { content: '\e84b'; } /* '' */
.icon-recibo-seleccion:before { content: '\e84c'; } /* '' */
.icon-mensajes:before { content: '\e84d'; } /* '' */
.icon-365-dias:before { content: '\e84e'; } /* '' */
.icon-abono:before { content: '\e84f'; } /* '' */
.icon-pago-tarjeta-focus:before { content: '\e850'; } /* '' */
.icon-codigo-focus:before { content: '\e851'; } /* '' */
.icon-1-dia:before { content: '\e852'; } /* '' */
.icon-solicitado-1:before { content: '\e853'; } /* '' */
.icon-resuelto:before { content: '\e854'; } /* '' */
.icon-numero-casas:before { content: '\e855'; } /* '' */
.icon-nombre-calle:before { content: '\e856'; } /* '' */
.icon-cuadra-1:before { content: '\e857'; } /* '' */
.icon-secciones:before { content: '\e858'; } /* '' */
.icon-no-disponible-1:before { content: '\e859'; } /* '' */
.icon-numero-casas-focus:before { content: '\e85a'; } /* '' */
.icon-nombre-calle-focus:before { content: '\e85b'; } /* '' */
.icon-cuadra:before { content: '\e85c'; } /* '' */
.icon-secciones-focus:before { content: '\e85d'; } /* '' */
.icon-no-disponible:before { content: '\e85e'; } /* '' */
.icon-reglamento-mini:before { content: '\e85f'; } /* '' */
.icon-opciones-usuario:before { content: '\e860'; } /* '' */
.icon-7-dias:before { content: '\e861'; } /* '' */
.icon-legal:before { content: '\e862'; } /* '' */
.icon-logout:before { content: '\e863'; } /* '' */
.icon-pago_tarjeta:before { content: '\e864'; } /* '' */
.icon-tomar-foto-focus:before { content: '\e865'; } /* '' */
.icon-cargar-imagen-focus:before { content: '\e866'; } /* '' */
.icon-15-dias:before { content: '\e867'; } /* '' */
.icon-reglamento:before { content: '\e868'; } /* '' */
.icon-areasc:before { content: '\e869'; } /* '' */
.icon-tomar-foto:before { content: '\e86e'; } /* '' */
.icon-icargar-imagen:before { content: '\e86f'; } /* '' */
.icon-pagado-focus:before { content: '\e871'; } /* '' */
.icon-solicitado-focus:before { content: '\e872'; } /* '' */
.icon-no-disponible-focus:before { content: '\e873'; } /* '' */
.icon-no-disponible-focus-c:before { content: '\e874'; } /* '' */
.icon-30-dias-focus:before { content: '\e875'; } /* '' */
.icon-90-dias-focus:before { content: '\e876'; } /* '' */
.icon-180-dias-focus:before { content: '\e877'; } /* '' */
.icon-365-dias-focus:before { content: '\e878'; } /* '' */
.icon-pagado:before { content: '\e879'; } /* '' */
.icon-solicitado:before { content: '\e87a'; } /* '' */
.icon-tiempo_boton:before { content: '\e87c'; } /* '' */
.icon-mantenimiento-b:before { content: '\e886'; } /* '' */
.icon-mascotas:before { content: '\e887'; } /* '' */
.icon-vecinos-b:before { content: '\e888'; } /* '' */
.icon-1-dia-focus:before { content: '\e889'; } /* '' */
.icon-7-dias-focus:before { content: '\e88a'; } /* '' */
.icon-15-dias-f:before { content: '\e88b'; } /* '' */
.icon-areas-focus:before { content: '\e88c'; } /* '' */
.icon-mantenimienito-b-focus:before { content: '\e88d'; } /* '' */
.icon-mascotas-focus:before { content: '\e88e'; } /* '' */
.icon-vecinos-b-focus:before { content: '\e88f'; } /* '' */
.icon-pago-tarjeta:before { content: '\e891'; } /* '' */
.icon-30-dias:before { content: '\e893'; } /* '' */
.icon-90-dias:before { content: '\e894'; } /* '' */
.icon-valor:before { content: '\e895'; } /* '' */
.icon-entrar:before { content: '\e896'; } /* '' */
.icon-preguntas:before { content: '\e897'; } /* '' */
.icon-contacto:before { content: '\e898'; } /* '' */
.icon-consulta:before { content: '\e899'; } /* '' */
.icon-residente:before { content: '\e89a'; } /* '' */
.icon-ticket:before { content: '\e89b'; } /* '' */
.icon-areas:before { content: '\e89c'; } /* '' */
.icon-pass-code:before { content: '\e89d'; } /* '' */
.icon-logo-02:before { content: '\e89e'; } /* '' */
.icon-logo-01:before { content: '\e89f'; } /* '' */
.icon-positivo:before { content: '\e8a1'; } /* '' */
.icon-negativo:before { content: '\e8a2'; } /* '' */
.icon-neutral:before { content: '\e8a3'; } /* '' */
.icon-filtro-dial:before { content: '\e8a4'; } /* '' */
.icon-activo:before { content: '\e8a5'; } /* '' */
.icon-logo:before { content: '\e8a8'; } /* '' */
.icon-positivo-focus:before { content: '\e8aa'; } /* '' */
.icon-negativo-focus:before { content: '\e8ab'; } /* '' */
.icon-neutral-focus:before { content: '\e8ac'; } /* '' */
.icon-carga-inicial:before { content: '\e8ad'; } /* '' */
.icon-mesa-directiva:before { content: '\e8af'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */